<!DOCTYPE html>
<html>

<head>
  <title>Image Classifier</title>
  <meta charset="utf-g">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
</head>

<body>
  <main>
    <div class="container">
      <h1>Image Classification with TFJS</h1>
      <h1>2017125009 박지웅</h1>
      <div class="row">
        <div class="progress progress-bar-striped progress-bar-animated mb-2" style="display:none">
          Loading Model
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <select id="model-selector" class="custom-select">
            <option selected disabled>Select Model</option>
            <option value="MobileNetV2">MobileNetV2</option>
            <!-- <option value="VGG16">VGG16</option> -->
          </select>
        </div>
        <div class="col-sm-6">
          <input type="file" id="image-selector" class="form-control border-0">
        </div>
        <div class="col-sm-3">
          <button class="btn btn-dark float-right" id="predict-button">Predict</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <h2 class="ml-3">Predictions:</h2>
          <ol id="prediction-list"></ol>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="ml-3">Image</h2>
          <img src="" id="selected-image" class="ml-3"/>
        </div>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.11.0/dist/tf.min.js"></script>
  <script src="/javascripts/dogbreed_classes.js"></script>
  <script src="/javascripts/imagenet_classes.js"></script>
  <script src="/javascripts/predict.js"></script>
</body>

</html>